*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.article{
    border: 1px dashed red;
    width: 45%;
    background-color: white;
}
.padre{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.hijo_izq{
    width: 35%;
    border: 1px solid lightgrey;
}
.persona{
     border: 1px solid lightgrey;
     border-radius: 20px;
     width: 30%;
     padding: 5px;
}
.section_per{
    display: flex;
    gap: 20px;
}