.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    gap:10px;
}
.div{
    width: 150px;
    position: relative;
    perspective: 1000px;
    cursor: pointer;
}
img{
    width: 100%;
    transition: all 1s;
    backface-visibility: hidden;
}
.back{
    background-color: cadetblue;
    width: 150px;
    height: 90px;
    border-radius: 5px;
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    transition: all 1s;
}
.hidden{
    display: none;
}
.div.rotate img {
 transform: rotateY(360deg);
}
.div.rotate .back {
 transform: rotateY(180deg);
}
.rotate{
    transform: rotateY(180deg);
}